<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhen77.mapper.AdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.zhen77.pojo.Admin">
        <id column="adminid" property="adminid" />
        <result column="adminname" property="adminname" />
        <result column="adminpassword" property="adminpassword" />
        <result column="admincompany" property="admincompany" />
        <result column="adminrealname" property="adminrealname" />
        <result column="adminphone" property="adminphone" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        adminid, adminname, adminpassword, admincompany, adminrealname, adminphone
    </sql>

</mapper>
