<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zhen77.mapper.HousingMapper" >

  <!-- 通用查询映射结果 -->

  <resultMap id="BaseResultMap" type="cn.zhen77.pojo.Housing" >
    <id column="housingid" property="housingid" jdbcType="INTEGER" />
    <result column="buildingid" property="buildingid" jdbcType="INTEGER" />
    <result column="housingtype" property="housingtype" jdbcType="VARCHAR" />
    <result column="housingarea" property="housingarea" jdbcType="INTEGER" />
    <result column="housingrealarea" property="housingrealarea" jdbcType="INTEGER" />
    <result column="housingprice" property="housingprice" jdbcType="DOUBLE" />
    <result column="housingunit" property="housingunit" jdbcType="INTEGER" />
    <result column="housingroom" property="housingroom" jdbcType="INTEGER" />
    <result column="housingfinish" property="housingfinish" jdbcType="BIT" />
    <association property="housingimg" javaType="cn.zhen77.pojo.Housingimg" >
      <id column="housingimgid" property="housingimgid" jdbcType="INTEGER" />
      <result column="housingimg1" property="housingimg1" jdbcType="VARCHAR" />
      <result column="housingimg2" property="housingimg2" jdbcType="VARCHAR" />
      <result column="housingimg3" property="housingimg3" jdbcType="VARCHAR" />
      <result column="housingimg4" property="housingimg4" jdbcType="VARCHAR" />
      <result column="housingimg5" property="housingimg5" jdbcType="VARCHAR" />
    </association>
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
        housingid, buildingid,  housingtype, housingarea, housingrealarea, housingprice, housingunit, housingroom, housingfinish,housingimgid,housingimg1,housingimg2,housingimg3,housingimg4,housingimg5
    </sql>


  <resultMap id="getHousingdetails" type="cn.zhen77.pojo.Housing" >
    <id column="housingid" property="housingid" jdbcType="INTEGER" />
    <result column="buildingid" property="buildingid" jdbcType="INTEGER" />
    <result column="housingtype" property="housingtype" jdbcType="VARCHAR" />
    <result column="housingarea" property="housingarea" jdbcType="INTEGER" />
    <result column="housingrealarea" property="housingrealarea" jdbcType="INTEGER" />
    <result column="housingprice" property="housingprice" jdbcType="DOUBLE" />
    <result column="housingunit" property="housingunit" jdbcType="INTEGER" />
    <result column="housingroom" property="housingroom" jdbcType="INTEGER" />
    <result column="housingfinish" property="housingfinish" jdbcType="BIT" />
    <association property="housingimg" javaType="cn.zhen77.pojo.Housingimg" >
      <id column="housingimgid" property="housingimgid" jdbcType="INTEGER" />
      <result column="housingimg1" property="housingimg1" jdbcType="VARCHAR" />
      <result column="housingimg2" property="housingimg2" jdbcType="VARCHAR" />
      <result column="housingimg3" property="housingimg3" jdbcType="VARCHAR" />
      <result column="housingimg4" property="housingimg4" jdbcType="VARCHAR" />
      <result column="housingimg5" property="housingimg5" jdbcType="VARCHAR" />
    </association>
  </resultMap>
  <select id="getHousing" parameterType="java.lang.Integer" resultMap="getHousingdetails">
       select h.*,i.*
        from  housing h
        inner join housingimg i
        on (h.housingimgid = i.housingimgid)
        WHERE h.buildingid =#{buildingid};

  </select>
</mapper>